* {
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    font-size: 18px;
    

}


#header {
    background-color: #ebebeb;
    /* border: 6px solid #777; */
    padding: 40px;
    width: 960px;
    margin-left: 180px;
    /* position: relative; */
}
#nav {
    background-color: #ebebeb;
    padding: 40px;
    margin-left: 180px;
    width: 960px;
    /* position: relative; */

}
#section {
    background-color: #ebebeb;
    /* border: 6px solid #777; */
    padding: 40px;
    width: 495px;
    color: 777;
    margin-left: 180px;
    position: relative;
    float: left;
    height: 300px;
    margin: none;

}
#article {
    background-color: #777;
    /* border: 6px solid #777; */
    /* padding: 10px; */
    width: 465px;
    color: white;
    /* left: -295px; */
    position: relative;
    /* bottom: -75px; */
    height: 206px;
    float: left;
    margin-left: -25px;
    
}
#h1 {
    background-color: #ebebeb;
    /* border: 1px solid #777; */
    padding: 25px;
    font-family:    Arial, Helvetica, sans-serif;
    width: 435px;
    /* left: -740px; */
    position: relative;
    float: left;
    height: 33px;
    /* bottom: -116px; */
    margin-left: 13px;
}
 #p { 
    background-color: #ebebeb;
    /* border: 2px solid #777; */
    padding: 25px;
    width: 435px;
    /* left: -1174px; */
    position: relative;
    float: left;
    height: 33px;
    /* bottom: -175px; */
    margin-left: -25px;
} 
#aside {
    /* clear: both; */ 
    background-color: #ebebeb;
    /* border: 6px solid #777; */
    padding: 40px;
    width: 454px;
    /* left: -270px; */
    position: relative;
    float: left;
    height: 300px;
    display: block;
    /* bottom: 53px */
    margin-left: 10px;
}
#footer {
    clear: both;
    background-color: #ebebeb;
    /* border: 6px solid #777; */
    padding: 40px;
    width: 960px;
    margin-left: 180px;
    position: relative;
    float: left;
    margin-top: 10px;

    /* bottom: 51px */

}
